body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavLink {
  font: 600 18px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #373737;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ebd8ff;
  padding: 14px 14px;
  width: 130px;
  text-align: center;
}

.NavLink.active {
  background-color: #5cd3a8;
}